.print-area {border:1px solid red;padding:1em;margin:0 0 1em}

.input-scan {
    background-color: transparent;
    border: 0px solid;
    height: 0px;
    width: 0px;
    color: #CCC;
}

.login {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  width: 100%;
  height: 100%;
} 
/* 
bootstrap-extend.min.css
navbar-fixed-top z-index:1500 -> 1049
navbar-full z-index:1200 -> 1049

site.min.css
site-menubar z-index:1400 -> 1049